/*
 * Knock Labs theme overrides
 * 
 * Based on:
 * https://github.com/knocklabs/javascript/blob/main/packages/react/src/theme.css
 */

/* Feed container */

.rnf-notification-feed-popover {
  /* Set width */
  --rnf-notification-feed-popover-min-w: 360px;

  /* Position next to the expanded sidebar (16rem = 256px) */
  position: fixed !important;
  top: 0 !important;
  left: 16rem !important;
  transform: none !important;

  /* Full height of the screen */
  height: 100vh;
  /* padding hack to offset the inner container from the edges */
  padding: 0.5rem;
}

.rnf-notification-feed--dark {
  background: var(--color-sidebar);
}

/* Hide "Powered by Knock" */
.rnf-notification-feed__knock-branding {
  display: none;
}
